@import "tailwindcss";
@plugin "daisyui";

@layer components {
  html,
  body,
  #root {
    height: 100%;
    width: 100%;
  }

  #root {
    @apply flex flex-col;
  }

  main {
    @apply grow;
  }

  .login-register-left-section {
    @apply bg-[url(https://picsum.photos/1200)] bg-cover bg-center;
  }

  .main-container {
    @apply  max-w-[1150px] mx-auto w-full pl-[15px] pr-[15px];
  }
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-radius: 8px;
  gap: 10px;
}

.dimlama {
  grid-area: 1/1/3/3;
  height: 100%;
  border-radius: inherit;
}